.favorites-container {
  .favorites-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .delete-all {
    min-width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background: #ec5858;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 800;
    cursor: pointer;

    &:hover {
      opacity: 0.75;
    }
  }

  .favorites {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;

    .favorite-image__wrapper {
      background: none;
      border: none;
      outline: none;
      position: relative;
      margin: 0 10px;

      img.thumbnail {
        flex: 0 0 auto;
        width: 150px;
        height: 100px;
        object-fit: cover;
        object-position: center;
        cursor: pointer;
      }

      .large-img {
        display: none;
        position: absolute;
        top: -98%;
        left: 0px;
        width: 300px;
        height: auto;
        opacity: 0;
      }
    }

    .delete {
      background: red;
      opacity: 1;
      animation: fadeIn 2s;
      color: #fff;
      border: none;
      position: absolute;
      top: 0;
      right: 0;
      font-size: 12px;
    }
  }
}
