.app-container {
  width: 70%;
  margin: 0 auto;
  height: 85vh;
  box-sizing: border-box;
  position: relative;
  box-sizing: border-box;

  .loader {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .picture-container {
    padding-top: 50px;
    box-sizing: border-box;
  }

  h1 {
    text-align: center;
    margin: 0;
  }

  .gallery-container {
    width: 100%;
    margin: 0 auto;
    height: 640px;
    display: flex;
    align-items: center;
    position: relative;

    .back-btn {
      position: absolute;
      left: 0;

      button {
        &:hover ~ span {
          display: block;
        }
      }

      span {
        position: relative;
        display: none;

        img {
          width: 400px;
          height: 250px;
          position: absolute;
          bottom: 25px;
          border: 2px solid #fff;
          border-radius: 12px;
          animation: popup 0.5s forwards;
        }
      }
    }

    .next-btn {
      position: absolute;
      right: 0;

      button {
        &:hover ~ span {
          display: block;
        }
      }

      span {
        position: relative;
        display: none;

        img {
          width: 400px;
          height: 250px;
          position: absolute;
          right: 0;
          bottom: 25px;
          border: 2px solid #fff;
          border-radius: 12px;
          animation: popup 0.5s forwards;
        }
      }
    }

    img,
    video {
      height: 90%;
      width: 80%;
      margin: 0 auto;
      object-fit: cover;
      object-position: center;
    }
  }

  .buttons {
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .custom-btn {
    background: #f01085;
    color: #fff;
    padding: 10px 20px;
    border: 1px solid #fff;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }
}

@keyframes popup {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
