@import '../../assets/styles/colors';

.app-container {
  width: 70%;
  margin: 0 auto;
  height: 85vh;
  box-sizing: border-box;
  position: relative;
  box-sizing: border-box;

  .picture-container {
    padding-top: 50px;
    box-sizing: border-box;
    animation: slideIn 0.5s;
  }

  .title {
    text-align: center;
    margin: 0;
  }

  .gallery-container {
    width: 100%;
    margin: 0 auto;
    height: 640px;
    display: flex;
    align-items: center;
    position: relative;

    .back-btn,
    .next-btn {
      position: absolute;
      left: 0;
      border: none;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      background: $white;
      border-radius: 50%;
      border: 1px solid;
      padding: 0;
      height: 50px;
      width: 50px;

      .image-loading {
        position: absolute;
        bottom: 45px;
      }

      .image-popup {
        position: absolute;
        width: 400px;
        left: 0;
        bottom: 50px;
        height: 250px;
        box-sizing: border-box;
        animation: popup 0.5s forwards;

        img {
          width: 100%;
          height: 100%;
          border-radius: 12px;
          animation: popup 0.5s forwards;
          object-fit: cover;
        }
      }
    }

    .next-btn {
      right: 0;
      left: unset;

      .image-popup {
        right: 0;
        bottom: 50px;
        left: unset;
      }
    }

    img,
    video {
      height: 90%;
      width: 80%;
      margin: 0 auto;
      object-fit: cover;
      object-position: center;
    }
  }

  .buttons {
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .custom-btn {
    font-family: 'Raleway', sans-serif;
    background: $green;
    color: $white;
    padding: 10px 20px;
    border: 1px solid $white;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }

  .description {
    animation: slideInX 1s;
    font-size: 18px;
    line-height: 30px;
  }
}

@keyframes popup {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideInX {
  from {
    opacity: 0;
    transform: translateX(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

$breakpoint-tablet: 768px;
@media (max-width: $breakpoint-tablet) {
  .app-container {
    width: 100%;

    h1 {
      font-size: 24px;
    }

    .gallery-container {
      height: 440px;
    }

    .custom-btn {
      width: 130px;
      height: 40px;
      padding: 0 10px;
      font-size: 14px;
    }

    .description {
      width: 90%;
      margin: 0 auto;
      text-align: justify;
      word-break: break-word;
    }
  }
}
